<!-- donateur-list.component.html -->
<app-dash-ad></app-dash-ad>
<div class="container">
  <span style="color: black; font-weight: bold; font-size: 30px">Liste Donateur</span>
  <div class="row justify-content-md-center">
    <div *ngFor="let donateur of getdonateursPage()" class="col-lg-4 col-md-6 mb-4">
      <div class="card" [ngClass]="{ blocked: donateur.bloque }">
        <div class="card-content">
          <img
            src="{{ apiUrl }}/{{ donateur?.image }}"
            style="max-height: 200px; object-fit: contain"
            class="card-img-top"
            alt="..."
          />
          <div>
            <button
              class="icon-button btn btn-light border border-warning"
              (click)="supprimerDonateur(donateur)"
            >
              <i class="fas fa-trash" style="color: #f7e801"></i>
            </button>
            <button
              *ngIf="!donateur.bloque"
              class="icon-button btn btn-light border border-danger"
              (click)="bloquerDonateur(donateur)"
            >
              <i class="fas fa-ban" style="color: red"></i>
            </button>
            <button
              *ngIf="donateur.bloque"
              class="icon-button btn btn-light border border-success"
              (click)="debloquerDonateur(donateur)"
            >
              <i class="fas fa-unlock" style="color: green"></i>
            </button>
          </div>
          <div class="title">{{ donateur.prenom }} {{ donateur.nom }}</div>
          <div class="description">{{ donateur.telephone }}</div>
          <div class="description">{{ donateur.email }}</div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Pagination -->
<div class="d-flex flex-wrap justify-content-center my-5">
  <button class="btn btn-mauve me-2" [disabled]="pageActuelle === 1" (click)="precedentPage()">
    Précédent
  </button>
  <button class="btn btn-mauve ms-2" *ngFor="let page of pages" (click)="pageActuelle = page"
    [style.backgroundColor]="page === pageActuelle ? '#f7e801' : '#3b0458'">
    {{ page }}
  </button>
  <button class="btn btn-mauve ms-2" [disabled]="pageActuelle === totalPages" (click)="suivantPage()">
    Suivant
  </button>
</div>

