.container {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-mauve {
  cursor: pointer;
  background-color: #3b0458;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-mauve:hover {
  background-color: #2c033f;
}

.card {
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Animation de transition */
}

.card:hover {
  transform: translateY(-5px); /* Effet de levée au survol */
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.image {
  height: 150px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.description {
  margin-top: 5px;
}

.icon-button {
  margin-top: 10px;
  margin-left:5%;
  padding: 3px 5px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Légère teinte au survol */
}

.card.blocked .image,
.card.blocked .title,
.card.blocked .description,
.card.blocked .icon-button {
  filter: blur(2px);
}
