<app-header></app-header>

<div class="co mx-auto"style="width:98%;">
  <div class="row d-flex justify-content-center mx-auto"style="width:100%;">
    <div class="col-6">
      <div class="section-data "style="margin-left:-10%;" >
        <div class="a-propos">A Propos</div>
        <div class="dolel-fondation-est-une-plateforme-but-non-lucratif">
          <span>
            <span
              class="dolel-fondation-est-une-plateforme-but-non-lucratif-span"
            ></span>
            <span class="dolel-fondation-est-une-plateforme-but-non-lucratif-span2">
              Dolel
            </span>
            <span
              class="dolel-fondation-est-une-plateforme-but-non-lucratif-span3"
            ></span>
            <span class="dolel-fondation-est-une-plateforme-but-non-lucratif-span4">
              Fondation
            </span>
            <span
              class="dolel-fondation-est-une-plateforme-but-non-lucratif-span5"
            >est une plateforme à but non lucratif
          </span>
             </span>
        </div>
        <div class="section-content">
          <div
            class="weekend-ux-is-a-ui-ux-design-academy-in-delhi-involved-in-user-experience-and-user-interface-training-and-consulting-it-was-started-in-2023-and-passionate-towards-user-interface-design-user-experience-design-human-computer-interaction-design-humanoid-is-gushing-towards-competence-to-acquire-knowledge-and-have-a-wide-understanding-towards-the-sphere-through-the-foremost-courses-in-the-area-of-ui-ux-design-by-strengthening-up-your-skills-for-your-golden-future"
          >
          <br>
          la visibilité et les dons en ligne aux fondations du Sénégal. Nous croyons que chaque fondation a une histoire unique à raconter et que nous pouvons tous contribuer à faire une différence dans le monde.Nos actions se concentrent sur les domaines suivants :

          Visibilité : nous centralisons les informations des fondations sénégalaises sur une seule plateforme accessible à tous.
          Dons en ligne : nous proposons une solution de paiement sécurisée et facile à utiliser qui permet aux donateurs de faire un don aux fondations de leur choix en quelques clics.
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="component-17">
        <img class="rectangle-13" src="/assets/Carouss1.png" />
        <img class="rectangle-14" src="/assets/image4.png" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="component-18 mx-auto mt-5">
      <img class="unsplash-i-2-ho-d-c-2-rua" src="/assets/image5.png" />
      <div
        class="neque"
      >
      Notre motivation derrière ce projet réside dans le besoin impératif de surmonter les obstacles actuels entravant la générosité envers les causes humanitaires. En développant une interface accessible et sécurisée, nous aspirons à faciliter les dons en ligne en mettant en relation les utilisateurs avec des fondations légitimes et dignes de confiance. En assurant la gestion transparente des fondations partenaires, nous espérons inspirer une confiance renouvelée dans le processus de don en ligne, encourageant ainsi davantage de contributions en faveur du bien commun
      </div>

      <div class="group-513033 d-flex ">
        <div class="group-513031">
          <div class="rectangle-373"></div>
        </div>
        <div class="notre-vision">Notre Vision</div>
        <div
          class="quis-autem-vel-eum-iure-reprehenderit-qui-in-ea-voluptate-velit-esse-quam-nihil-molestiae-consequatu-quis-autem-vel-eum-iure-reprehenderit-qui-in-ea-voluptate-velit-esse-quam"
        >
        C'est d'un Sénégal où chaque fondation a la possibilité de réussir et d'atteindre ses objectifs. Nous croyons que en travaillant ensemble, nous pouvons faire une différence significative dans la vie des personnes les plus vulnérables.
        </div>
      </div>
      <div class="group-513032" >

          <div class="rectangle-3732"></div>
        </div>
        <div class="notre-mission">Notre Mission</div>
        <div
          class="quis-autem-vel-eum-iure-reprehenderit-qui-in-ea-voluptate-velit-esse-quam-nihil-molestiae-consequatu-quis-autem-vel-eum-iure-reprehenderit-qui-in-ea-voluptate-velit-esse-quam2"
        >
       C'est de mettre en lumière les efforts des fondations sénégalaises et de faciliter la collecte de dons en ligne. Nous sommes convaincus que ces deux objectifs sont essentiels pour accroître l'impact des fondations.
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>


