<app-dashboard></app-dashboard>
<div class="container">
  <!-- maintenance.component.html -->
<div class="maintenance-page" style="margin-top: 5%;" >
  <img src="/assets/maintenance.png" alt="Maintenance Logo" class="logo">
  <h1>Cette page est en maintenance</h1>
  <p>Nous travaillons actuellement sur notre site web pour l'améliorer. Nous serons bientôt de retour!</p>
  <div class="countdown">
    <span>La page  sera de accessible dans :</span>
    <span class="timer">3 jours 12 heures 45 minutes</span>
  </div>
  <div class="social-links">
    <a href="https://twitter.com/votresite" target="_blank">Twitter</a>
    <a href="https://facebook.com/votresite" target="_blank">Facebook</a>
    <a href="mailto:support@votresite.com">Contactez-nous</a>
  </div>
</div>

</div>
