<app-dashboard></app-dashboard>
<div class="container">
  <!-- maintenance.component.html -->
<div class="maintenance-page" style="margin-top: 5%;" >
  <img src="/assets/maintenance.png" alt="Maintenance Logo" class="logo">
  <h1>Cette page est en maintenance</h1>
  <p>Nous travaillons actuellement sur notre site web pour l'améliorer. Nous serons bientôt de retour!</p>
  <div class="countdown">
    <span>La page  sera de accessible dans :</span>
    <span class="timer">Quelques jours</span>
  </div>
  <div class="social-links">
    <a href="#" target="_blank">Twitter</a>
    <a href="#" target="_blank">Facebook</a>
    <a href="#">Contactez-nous</a>
  </div>
</div>

</div>
