<app-dashf></app-dashf>

<div class="container" style="margin-top: 7%;">
  <div class="d-flex justify-content-center">
    <!-- Afficher le bouton d'ajout pour les fondations seulement -->
    <div *ngIf="typeUtilisateur === 'fondation'" class="mb-3">
      <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="ajouterCollecte()" class="btn add-button" style="background: #3B0458; color: #F7E801;">
        <i class="fa-solid fa-plus" style="color: white;"></i>
        <span>Ajouter un nouveau Événement</span>
      </button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div *ngFor="let collecte of collectes" class="col-md-4 mb-4">
      <div class="card" (click)="selectionnerCollecte(collecte)">
        <div class="card-content">
          <div class="image" [style.background-image]="'url(' + apiUrl + '/' + collecte?.image + ')'">
            <!-- Afficher les icônes d'action pour les fondations seulement -->
            <div *ngIf="typeUtilisateur === 'fondation'" class="icon-button btn-group">
              <button class="icon-button btn" (click)="supprimerCollecte(collecte)" style="border: #F7E801; color: #F7E801; right: 25%;">
                <i class="fas fa-trash"></i>
              </button>
              <button class="icon-button btn" data-bs-toggle="modal" data-bs-target="#exampleModal2" style="border: #F7E801; color: #F7E801; margin-right: 25%;">
                <i class="fas fa-edit"></i>
              </button>
              <button class="icon-button btn" (click)="cloturerCollecte(collecte)" style="border: #F7E801; color: #F7E801; margin-right: 25%;">
                <i class="fas fa-lock"></i>
              </button>
            </div>
          </div>
          <div class="title">{{ collecte.titre }}</div>
          <div class="description">{{ collecte.description }}</div>
          <div class="amount">{{ collecte.objectifFinancier | currency:'XOF':'symbol':'1.0-0' }}</div>
          <div class="account-number">Numéro de compte: {{ collecte.numeroCompte }}</div>
          <button data-bs-toggle="modal" data-bs-target="#exampleModal3" class="button">Détails</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal pour modifier la collecte -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg custom-modal">
    <div class="modal-content">
      <div class="modal-header" style="display: flex;justify-content: center;">
        <h1>FORMULAIRE DE MODIFICATION D'UNE COLLECTE</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-field" style="width: 100%;">
          <i class="fas fa-signature"></i>
          <input name="titre" type="text" [(ngModel)]="collecteSelectionnee.titre" placeholder="Titre" class="form-control" />
        </div>
        <div class="input-field" style="width: 100%;">
          <i class="fas fa-align-left"></i>
          <input name="description" [(ngModel)]="collecteSelectionnee.description" placeholder="Description" class="form-control" />
        </div>
        <div class="input-field" style="width: 100%;">
          <i class="fas fa-money-bill"></i>
          <input name="objectifFinancier" type="number" [(ngModel)]="collecteSelectionnee.objectifFinancier" placeholder="Objectif Financier" class="form-control" />
        </div>
        <div class="input-field" style="width: 100%;">
          <i class="fas fa-sort-numeric-up"></i>
          <input name="numeroCompte" type="text" [(ngModel)]="collecteSelectionnee.numeroCompte" placeholder="Numéro de compte" class="form-control" />
        </div>
        <button (click)="modifierCollecte()" style="border: 2px solid #F7E801;color: #F7E801;" class="btn edit-button">Modifier</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal pour ajouter une collecte -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg custom-modal">
    <div class="modal-content">
      <div class="modal-header" style="display: flex;justify-content: center;">
        <h1>FORMULAIRE D'AJOUT D'UNE COLLECTE</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-field" style="width: 100%;">
          <i class="fas fa-signature"></i>
          <input name="titre" type="text" [(ngModel)]="titre" placeholder="Titre" class="form-control" />
        </div>
        <div class="input-field" style="width: 100%;">
          <i class="fas fa-align-left"></i>
          <input name="description" [(ngModel)]="description" placeholder="Description" class="form-control" />
        </div>
        <div class="input-field" style="width: 100%;">
          <i class="fas fa-money-bill"></i>
          <input name="objectifFinancier" type="number" [(ngModel)]="objectifFinancier" placeholder="Objectif Financier" class="form-control" />
        </div>
        <div class="input-field" style="width: 100%;">
          <i class="fas fa-sort-numeric-up"></i>
          <input name="numeroCompte" type="text" [(ngModel)]="numeroCompte" placeholder="Numéro de compte" class="form-control" />
        </div>
        <button (click)="ajouterCollecte()" style="border: 2px solid #F7E801;color: #F7E801;" class="btn add-button">Ajouter</button>
      </div>
    </div>
  </div>
</div>
