<app-dashf></app-dashf>

<div class="container mt-5">
  <h1 style="color: black; font-weight: bold; font-size: 30px;margin-top: 7%;">LISTE ABONNÉ</h1>
  <div class="card" style="border: 1px solid #F7E801;">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="background-color: #F7E801; font-weight: bold;">Photo</th>
              <th scope="col" style="background-color: #F7E801; font-weight: bold;">Nom complet</th>
              <th scope="col" style="background-color: #F7E801; font-weight: bold;">Prénom</th>
              <th scope="col" style="background-color: #F7E801; font-weight: bold;">Téléphone</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let abonne of fondationsAbonnees">
              <td><img style="width: 50px; height: 50px; border-radius: 50%;" src="https://i.pinimg.com/736x/41/c4/f5/41c4f51bcd17b297aa8f8d94a2ac1d95.jpg" /></td>
              <td>{{ abonne.nom_donateur }}</td>
              <td>{{ abonne.prenom_donateur }}</td>
              <td>{{ abonne.telephone_donateur }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
