<!-- <app-dashboard></app-dashboard> -->
<div style="width: 257px;margin-top: 5%;margin-left: 5%; height: 32px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
  <div style="width: 56px; padding: 4px; border-radius: 16px; border: 1px #F7E801 solid; justify-content: flex-start; align-items: flex-start; display: flex">
    <div style="width: 48px; align-self: stretch; padding-left: 8px; padding-right: 12px; justify-content: center; align-items: center; display: flex">
      <button class="btn"style="color: #F7E801; font-size: 14px; font-family: Inter; font-weight: 700; line-height: 20px; letter-spacing: 0.25px; word-wrap: break-word">Tout</button>
    </div>
  </div>
  <div style="width: 81px; padding: 4px; border-radius: 16px; border: 1px #BDBDBD solid; justify-content: flex-start; align-items: flex-start; display: flex">
    <div style="width: 73px; align-self: stretch; padding-left: 8px; padding-right: 8px; justify-content: center; align-items: center; display: flex">
      <button style="color: rgba(0, 0, 0, 0.87); font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 20px; letter-spacing: 0.25px; word-wrap: break-word" class="btn">Abonnés</button>
    </div>
  </div>
  <div style="width: 104px; padding: 4px; border-radius: 16px; border: 1px #BDBDBD solid; justify-content: flex-start; align-items: flex-start; display: flex">
    <div style="width: 96px; align-self: stretch; padding-left: 8px; padding-right: 8px; justify-content: center; align-items: center; display: flex">
      <button style="color: rgba(0, 0, 0, 0.87); font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 20px; letter-spacing: 0.25px; word-wrap: break-word" class="btn">Desabonnés</button>
    </div>
  </div>
</div>
<div class="card "style="margin-top:3%;border:2px solid red;margin-left:8%;border:1px solid #F7E801;width:90%">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="background-color: #F7E801;font-weight:bold;">Photo</th>
          <th scope="col" style="background-color: #F7E801;font-weight:bold;">Nom complet</th>
          <th scope="col" style="background-color: #F7E801;font-weight:bold;">pseudo</th>
          <th scope="col" style="background-color: #F7E801;font-weight:bold;">Statut</th>
          <th scope="col" style="background-color: #F7E801;font-weight:bold;">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><img style="width: 49.98px; height: 50px; border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/90b4/c6f8/b131f95df270ee7257d52c468c0b71c7?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CDZqz0YXU1bDhI1R1U0dN6oOSdARBObrp1oOXtUPvI7JefjFii4ONgmf3lSoH5opzmjLOP2ZMZDQW-5Q5ymvYSBnp0IRnfo7-o6dOuTs0eGCi11ZuVtHCF1~gqi9fnGjWyNp9XYJGxnHl~gRKkiGki~uSmBPLFRM~GbRhR2jdLC~8Gta-t3w1zRGm07muBIYSNjxH64aYA44d91VjM7nbiwennyEieOx9mPt~9FNDoYuMM5l~JzW0ssOGsyu6EFAD40zB0eCAvid1J0j7koy5KyOF-DazO4Vb7Wo50VBocfwRTOlBFLydyHZRNAn7FOIc06bbwg5LbDDeEkm7Qyjsg__" /></th>
          <td>Amadou</td>
          <td>AM’S</td>
          <td>Abonné</td>
          <td>2 mois</td>
        </tr> 
        <tr>
          <th scope="row"><img style="width: 49.98px; height: 50px; border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/90b4/c6f8/b131f95df270ee7257d52c468c0b71c7?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CDZqz0YXU1bDhI1R1U0dN6oOSdARBObrp1oOXtUPvI7JefjFii4ONgmf3lSoH5opzmjLOP2ZMZDQW-5Q5ymvYSBnp0IRnfo7-o6dOuTs0eGCi11ZuVtHCF1~gqi9fnGjWyNp9XYJGxnHl~gRKkiGki~uSmBPLFRM~GbRhR2jdLC~8Gta-t3w1zRGm07muBIYSNjxH64aYA44d91VjM7nbiwennyEieOx9mPt~9FNDoYuMM5l~JzW0ssOGsyu6EFAD40zB0eCAvid1J0j7koy5KyOF-DazO4Vb7Wo50VBocfwRTOlBFLydyHZRNAn7FOIc06bbwg5LbDDeEkm7Qyjsg__" /></th>
          <td>Abdoulaye</td>
          <td>Laye</td>
          <td>Abonné</td>
          <td>2 mois</td>
        </tr>
        <tr>
          <th scope="row"><img style="width: 49.98px; height: 50px; border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/90b4/c6f8/b131f95df270ee7257d52c468c0b71c7?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CDZqz0YXU1bDhI1R1U0dN6oOSdARBObrp1oOXtUPvI7JefjFii4ONgmf3lSoH5opzmjLOP2ZMZDQW-5Q5ymvYSBnp0IRnfo7-o6dOuTs0eGCi11ZuVtHCF1~gqi9fnGjWyNp9XYJGxnHl~gRKkiGki~uSmBPLFRM~GbRhR2jdLC~8Gta-t3w1zRGm07muBIYSNjxH64aYA44d91VjM7nbiwennyEieOx9mPt~9FNDoYuMM5l~JzW0ssOGsyu6EFAD40zB0eCAvid1J0j7koy5KyOF-DazO4Vb7Wo50VBocfwRTOlBFLydyHZRNAn7FOIc06bbwg5LbDDeEkm7Qyjsg__" /></th>
          <td >Bintou</td>
          <td>Bint</td>
          <td>Abonné </td>
            <td >2 mois</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
