<app-dashf></app-dashf>

<div class="card" style="margin-top: 7%; border: 1px solid #F7E801; margin-left: 8%; width: 90%">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="background-color: #F7E801; font-weight: bold;">Photo</th>
          <th scope="col" style="background-color: #F7E801; font-weight: bold;">Nom complet</th>
          <th scope="col" style="background-color: #F7E801; font-weight: bold;">Prenom</th>
          <th scope="col" style="background-color: #F7E801; font-weight: bold;">Téléphone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let abonne of fondationsAbonnees">
          <th scope="row"><img style="width: 49.98px; height: 50px; border-radius: 9999px" src="https://i.pinimg.com/736x/41/c4/f5/41c4f51bcd17b297aa8f8d94a2ac1d95.jpg" /></th>
          <td>{{ abonne.nom_donateur }}</td>
          <td>{{ abonne.prenom_donateur }}</td>
          <td>{{ abonne.telephone_donateur }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
