<app-dashboard></app-dashboard>

<div
  class="card"
  style="margin-top: 8%; margin-left: 8%; border: 1px solid #f7e801; width: 90%"
>
<h1><span style="color: #000000; font-weight: bold; font-size: 30px"
  >Fondations Abonnées</span
></h1>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="background-color: #f7e801; font-weight: bold">
            Photo
          </th>
          <th scope="col" style="background-color: #f7e801; font-weight: bold">
            Nom
          </th>
          <!-- <th scope="col" style="background-color: #f7e801; font-weight: bold">
            Email
          </th>
          <th scope="col" style="background-color: #f7e801; font-weight: bold">
            Adresse
          </th> -->
          <th scope="col" style="background-color: #f7e801; font-weight: bold">
            Description
          </th>
          <th scope="col" style="background-color: #f7e801; font-weight: bold">
            Téléphone
          </th>
          <!-- <th scope="col" style="background-color: #f7e801; font-weight: bold">
            Numéro d'enregistrement
          </th> -->
          <th scope="col" style="background-color: #f7e801; font-weight: bold">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fondation of fondationsAbonnees">
          <th scope="row">
            <img
              style="width: 49.98px; height: 50px; border-radius: 9999px"
              src="{{ apiUrl }}/{{ fondation.image }}"
              class="card-img-top"
              alt="..."
            />
          </th>

          <td>{{ fondation.nom_fondation }}</td>
          <!-- <td>{{ fondation.email_fondation }}</td>
          <td>{{ fondation.adresse_fondation }}</td> -->
          <td>{{ fondation.description_fondation }}</td>
          <td>{{ fondation.telephone_donateur }}</td>
          <!-- <td>{{ fondation.numeroenregistrement_fondation }}</td> -->
          <td>
            <button
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal4"
              class="btn"
              style="color: #f7e801"
              (click)="showCollectesModal(fondation.id)"
            >
              <i class="fa-solid fa-circle-info fa-bounce"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal for Collectes -->
<div
  class="modal fade"
  id="exampleModal4"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #f7e801">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: #3b0458">
          Liste des Collectes
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          style="background-color: #3b0458"
        ></button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <ng-container *ngIf="listeCollectes.length > 0; else noCollectes">
            <button
              *ngFor="let collecte of listeCollectes"
              type="button"
              class="list-group-item list-group-item-action"
              style="background-color: #3b0458; color: white"
              (click)="redirigerVersDonation()"
            >
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ collecte.titre }}</h5>
                <small>{{ collecte.objectifFinancier }} FCFA</small>
              </div>
              <p class="mb-1">{{ collecte.description }}</p>
              <small>Numéro de compte : {{ collecte.numeroCompte }}</small>
              Faire un don
            </button>
          </ng-container>

          <ng-template #noCollectes>
            <p>Aucune collecte disponible.</p>
          </ng-template>
        </div>
      </div>
      <div class="modal-footer" style="background-color: #3b0458">
        <button
          type="button"
          style="border: 1px solid #f7e801; color: #f7e801"
          class="btn"
          data-bs-dismiss="modal"
        >
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>
