<app-dashboard></app-dashboard>

<div class="container mt-5">
  <div class="card mt-5" style="border: 1px solid #f7e801">
    <h1
      style="
        color: #000000;
        font-weight: bold;
        font-size: 30px;
        margin-top: 2rem;
        margin-left: 1rem;
      "
    >
      Fondations Abonnées
    </h1>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr style="background-color: #f7e801; font-weight: bold">
              <th scope="col">Photo</th>
              <th scope="col">Nom</th>
              <!-- <th scope="col">Email</th>
              <th scope="col">Adresse</th> -->
              <th scope="col">Description</th>
              <th scope="col">Téléphone</th>
              <!-- <th scope="col">Numéro d'enregistrement</th> -->
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fondation of fondationsAbonnees">
              <td>
                <img
                  style="width: 50px; height: 50px; border-radius: 50%"
                  [src]="apiUrl + '/' + fondation.image"
                  class="card-img-top"
                  alt="Fondation Photo"
                />
              </td>
              <td>{{ fondation.nom_fondation }}</td>
              <!-- <td>{{ fondation.email_fondation }}</td>
              <td>{{ fondation.adresse_fondation }}</td> -->
              <td>{{ fondation.description_fondation }}</td>
              <td>{{ fondation.telephone_donateur }}</td>
              <!-- <td>{{ fondation.numeroenregistrement_fondation }}</td> -->
              <td>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal4"
                  (click)="showCollectesModal(fondation.id)"
                >
                  <i class="fa-solid fa-circle-info fa-bounce"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Collectes -->
<div
  class="modal fade"
  id="exampleModal4"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #f7e801">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: #3b0458">
          Liste des Collectes
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <ng-container *ngIf="listeCollectes.length > 0; else noCollectes">
            <button
              *ngFor="let collecte of listeCollectes"
              type="button"
              class="list-group-item list-group-item-action"
              style="background-color: #3b0458; color: white"
              (click)="redirigerVersDonation()"
            >
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ collecte.titre }}</h5>
                <small>{{ collecte.objectifFinancier }} FCFA</small>
              </div>
              <p class="mb-1">{{ collecte.description }}</p>
              <small>Numéro de compte : {{ collecte.numeroCompte }}</small>
              Faire un don
            </button>
          </ng-container>

          <ng-template #noCollectes>
            <p>Aucune collecte disponible.</p>
          </ng-template>
        </div>
      </div>
      <div class="modal-footer" style="background-color: #3b0458">
        <button
          type="button"
          class="btn"
          style="border: 1px solid #f7e801; color: #f7e801"
          data-bs-dismiss="modal"
        >
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>
