<app-dashboard></app-dashboard>
<div class="row" style="width: 100%;">
  <div class="component-18 w-100 mx-auto"  >
    <div class="group-513216">
      <img class="rectangle-374"  src="https://s3-alpha-sig.figma.com/img/2fbb/eb01/c286e28a2491c77ebdf3b04f501d1d0b?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=O07RHPbVusmEkPZFBBA0DyOYP6od6br04LYq-us~nw1Z25ExgVbK~OPLUh~UG0QlXidOcvLsAQIo85P56uibLRlwk-CWgipHH0Dk0U-utNiJ3aFwoQWc6hi-778Q2Mfr11f5vPybWDRUMvsM5o05UtY2t~Z4xEya1bYbOS45CUnRPD4UslAYwGQG~4WkZc5pi2gwpZrVFdtDMe2e2HeFED6av-3k-vVV-BZ4rHa-fJ~1all-FF3c0vGQ8HWBXV6~NOPHPMi6SqAwR4g0NgUh3ND1darKkc352SLABEdcSaU5CGGeXguNVXQ45vYswMnKOw22zhsa7cn2qDMosTErRg__" />
      <img class="ellipse-11" src="https://s3-alpha-sig.figma.com/img/849d/bf83/f2018b92b38ba9628328951aa97ad9bf?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=l9mhlb8q0c2fSNeJuJCh-8tVXRHjCR~BUWzYe3P8NLV6mNpHNOrHoyje~Jzukzur4OEW9Hnul4oiLIvSrq-J5S~5ntr5ZaoOKYgvELN17aqDimraPzHx6YqnUpaU~foXea27n97RNBmEtB6z-Br7PeRRcSIeZP7yLxW2N705qJNXUt16DoOz68TRgWcp~Nq9mlXXEYrtx8ArU-ouLsYyIG-zWgiLly2wCLTfWGYC-lPxk~xsvyxnoEMpNiUauA-mPYUCpBckD3NkIAYVISUcriDCcLHXlkITMl6huKG0REMXPlJdH~Yfn~50-EAquY7N64OB-lhDxb~s7~pAEXO88w__" />
    </div>
    <div class="group-513211"  >
      <div class="component-17">
        <div class="rectangle-4471"></div>
        <button (click)="sAbonner()" class="suivre btn">SUIVRE</button>
      </div>
    </div>

  </div>
  <h1 class="text-center mt-3" style="color:#3B0458;font-weight: bold;">Qui sommes nous ?</h1>
  <div class=" mb-3 blocimagetext">
    <div class="row g-0 imagetext">
      <div class="col-md-4">
        <img src="https://s3-alpha-sig.figma.com/img/59e1/e021/c768facbad7a793a447caf066da202d2?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hLwZTKPPep7Zqa6MIWqCxlQzI-v9RUH6L3185X-CsKnjJ5KofelFlohfmqPL5EpTr1yKePrWYAQwsZzAUzjW9VG4WXANsPCuTMYRpP3ESBnDECWlgXWJYUF2wvpLDq5sA5j8jb~qOrrkFJ59DBsZyuDPWCz-80xIg~dab68oQvxE8knFFQUjWt6ftlIQTjluLUdyGOpxSQOmDyqrXLzEA84mtiZOdm6kJTYnHDC3hr8ukn2rcPXmHn4yoU8vMnGOLfOWi5TNm-elN2QOcZDtZ8yZMXT-sC7kj-re~ypsvOJEdxl6dTXrswBI56pPlY~PJ1uUUgjVWf9AZd5MCSC~PA__" class="img-fluid mx-auto d-block"   alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <!-- <h4 class="card-title">Rencontrez gratuitement des experts</h4> -->
          <p class="card-title" style="color: white;line-height: 40px;font-size: 25px;">Les racines de l'espoir est une association humanitaire qui a pour mission de venir en aide aux personnes vulnérables et surtout redonner le sourire aux enfants malades et aux talibés. Lutter contre l'ichtyose congénital qui est une maladie rare.Un lendemain meilleur pour les enfants en éradiquant la mendicité des enfants et une meilleure prise en charge des enfants malades a l'avenir.
            </p>
        </div>
      </div>
    </div>
  </div>

  <h1 class="text-center mt-3" style="color:#3B0458;font-weight: bold;opacity: 0;">Actualités</h1>
  <h1 class="text-center">Fondatrice</h1>
  <div class="blocaboutus ">
    <div class="col-md-4">
      <img src="https://s3-alpha-sig.figma.com/img/eedc/ced3/4e871f15fd4def4d149e0da0331cb014?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=c-kPpjJ88JG1cyZxC7A32RsOe2hPTdqkqr~psWhz-2uWHmI67Y8UcfalsPTBdsozmR~ON-F~qz581tLEspQewRb1WSeuO5KIwnJMeuw3JqVNWr~9VFWa2mUYGD03Lgj3i7n379uDODiinJlRcttfsGYos6UKcaGuy4XTdukJb6G1QPUhojOrCRq681xcelSgq8sq5Zg46OUSd9~9m8qGuYsxwO9K4fL~7lCEthA5pUS3vgBG5KjIs1kp9WQLb3~TKTu-TdBUIU0Z4gIFX2Y86D3z83JEACTAyiuf7wxmG85xuCHafnL9I-8bVaZeJDvfwt63i-W5~OR45m75P0HiyQ__" class="img-fluid rounded-start" alt="...">
    </div>

    <div class="d-flex">
      <div class="col-md-1 containerapropos ms-3"></div>
      <div class="col-md-7">
          <div class="card-body blocpresentation">
            <h5 class="card-title mt-3 text-center">Présentation</h5>
            <p class="card-text mt-3 ms-4">kaay entreprendre est une plateforme en ligne conçue pour accompagner les entrepreneurs novices dans leur voyage vers la réalisation de leur projet entrepreneurial. Elle vise à démystifier le processus entrepreneurial, à aider les entrepreneurs novices à réaliser leur rêve entrepreneurial en leur fournissant un guide complet pour mettre en place leur projet avec succès et à fournir les ressources nécessaires pour rendre l'entrepreneuriat plus accessible à tous.
              Son objectif est de répondre au besoin croissant d'accompagnement et de soutien pour les entrepreneurs débutants.
              La plateforme souhaite démocratiser l'accès à l'entrepreneuriat en fournissant
              une source fiable d'informations et d'outils pratiques pour aider les utilisateurs à concrétiser
              leur projet avec succès.
            </p>
        </div>
      </div>
    </div>

  </div>
  <div>
  </div>
</div>
<!-- Ajoutez cette partie où vous souhaitez afficher la liste des collectes -->
<div *ngIf="fondations.length > 0">
  <h2 style="margin-left: 5%;">Choisir une fondation</h2>
  <select [(ngModel)]="selectedFondationId" class="form-control" style="width: 200px; margin-left: 5%;">
    <option *ngFor="let fondation of fondations" [value]="fondation.id">{{ fondation.nom }}</option>
  </select>
  <button (click)="sAbonner()" class="btn btn-primary mt-2">S'abonner</button>
</div>

<!-- Ajoutez cette partie où vous souhaitez afficher la liste des collectes -->
<div *ngIf="listeCollectes">
  <h2 style="margin-left: 5%;">Liste des collectes</h2>
<div class="card-container" style="margin-left: 5%;">
  <ul>
    <li *ngFor="let collecte of listeCollectes">
      <div class="title">{{ collecte.titre }}</div>
      <div class="description">{{ collecte.description }}</div>
      <div class="amount">{{ collecte.objectifFinancier | currency:'XOF':'symbol':'1.0-0' }}</div>
      <div class="account-number">Numéro de compte: {{ collecte.numeroCompte }}</div>
      <button data-bs-toggle="modal" data-bs-target="#exampleModal3" class="button">Détails</button>
    </li>
  </ul>
</div>
</div>


