<app-dashboard></app-dashboard>

<div class="container mt-5">
  <h1 style="color: black; font-weight: bold; font-size: 30px;margin-top: 7%;">Liste Collectes</h1>
  <div class="row">
    <ng-container *ngIf="listeCollectes.length > 0; else noCollectes">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let collecte of listeCollectes">
        <div class="card" style="background-color: #ffff; color: #f7e801">
          <img
            [src]="apiUrl + '/' + collecte?.image"
            class="card-img-top img-fluid"
            alt="Collecte Image"
            style="max-height: 300px; object-fit: contain"
          />
          <div class="card-body">
            <h5 class="card-title text-center" style="font-weight: bold">{{ collecte.titre }}</h5>
            <p class="card-text">{{ collecte.description }}</p>
            <p class="card-text"><small class="text-muted">Objectif : {{ collecte.objectifFinancier }} FCFA</small></p>
            <p class="card-text"><small class="text-muted">Numéro de compte : {{ collecte.numeroCompte }}</small></p>
            <p class="card-text"><small class="text-muted">Fondation : {{ collecte.nom_fondation }}</small></p>
            <button
              type="button"
              class="btn btn-outline-warning"
              (click)="redirigerVersDonation(collecte.id)"
              style="border: #f7e801 1px solid; font-weight: bold;"
            >
              Faire un don
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noCollectes>
      <div class="col">
        <p>Aucune collecte disponible.</p>
      </div>
    </ng-template>
  </div>
</div>
