<app-dashboard></app-dashboard>
<div class="row" style="margin-top: 10%; z-index: 1">
  <span
    style="color: black; font-weight: bold; font-size: 30px; margin-left: 6%"
    >Dashboard</span
  >
  <div class="col-3" style="margin-left: 20%">
    <div class="card lk" style="width: 18rem">
      <div class="card-body text-center">
        <i
          class="fa-solid fa-people-pulling fa-flip"
          style="font-size: 55px"
        ></i>
        <p class="card-text fw-bold" style="font-size: 30px">
          Fondations suivi
        </p>
        <p class="card-text fw-bold" style="font-size: 30px">3</p>
      </div>
    </div>
  </div>
  <div class="col-3" style="margin-left: 0%">
    <div class="card lk" style="width: 18rem">
      <div class="card-body text-center">
        <i
          class="fa-solid fa-people-pulling fa-flip"
          style="font-size: 55px"
        ></i>
        <p class="card-text fw-bold" style="font-size: 30px">Total dons</p>
        <p class="card-text fw-bold" style="font-size: 30px">250fcfa</p>
      </div>
    </div>
  </div>
  <div class="col-3" style="margin-left: 0%">
    <div class="card lk" style="width: 18rem">
      <div class="card-body text-center">
        <i
          class="fa-solid fa-people-pulling fa-flip"
          style="font-size: 55px"
        ></i>
        <p class="card-text fw-bold" style="font-size: 30px">Total collectes</p>
        <p class="card-text fw-bold" style="font-size: 30px">9</p>
      </div>
    </div>
  </div>
</div>
<!-- <div style="width: 942px; height: 954px; position: relative;margin-left: 20%;">
  <div style="left: 0px; top: 0px; position: absolute; text-align: center; color: #3B0458; font-size: 40px; font-family: Playfair Display; font-weight: 600; line-height: 48px; word-wrap: break-word">Liste des fondations suivi</div>
  <div style="width: 902px; height: 413px; left: 40px; top: 88px; position: absolute">
    <div style="width: 263px; height: 412px; left: 0px; top: 1px; position: absolute">
      <div style="width: 263px; height: 412px; left: 0px; top: 0px; position: absolute">
        <div style="width: 263px; height: 412px; left: 0px; top: 0px; position: absolute; background: white;border-radius:30px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px"></div>
        <div style="width: 263px; height: 48px; left: 0px; top: 364px; position: absolute;border-radius:30px">
          <div style="width: 263px; height: 48px; left: 0px; top: 0px; position: absolute; background: #3B0458; border-radius: 24px"></div>
          <div style="left: 100.09px; top: 15px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Rowdies; font-weight: 400; text-transform: uppercase; word-wrap: break-word">détails</div>
        </div>
        <img style="width: 263px; height: 170.59px; left: 0px; top: 0px; position: absolute;border-radius:30px" src="https://via.placeholder.com/263x171" />
        <img style="width: 263px; height: 171px; left: 0px; top: 0px; position: absolute;border-radius:30px" src="https://via.placeholder.com/263x171" />
        <img style="width: 263px; height: 171px; left: 0px; top: 0px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius:30px" src="https://s3-alpha-sig.figma.com/img/fb77/a0df/22dd55bf7892de750014ee306342487e?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=FDb-Fsw~Gx7igvBjtg60br0xT3bFXhhm1ZsH6epVx9I1qxfIUIUoz03ysftFFzSHrNlRXaFqakbzZaXEKwG9Dusz3FyXwWpkMFqWHdEElpmK3-bKoc8fYPxVRRvyEWfD9ppbz5Huu~5HQE2oIIBCg1lKzWKZAbz9M3KFNLp4kEuUwZ96~xFjsNppdvlwrM2PWal53oyP91hCLS2lkcP3e19TIItvnYwbTSM7BBX6iLuK3OHpy5ocwH4KpRu40LMSPplhXfAvxHAHB-08lVIVdUDudTGcZV8bbiI2GMiOy6U9633rQdc0J4BTu3eAmB0IXV0mwGwfIiL5-TpEBgwUmQ__" />
        <div style="width: 92px; height: 32px; left: 0px; top: 0px; position: absolute">
          <div style="width: 92px; height: 32px; left: 0px; top: 0px; position: absolute; background: #F7E801; border-radius: 16px"></div>
          <div style="left: 22px; top: 8px; position: absolute; color: white; font-size: 12px; font-family: Manrope; font-weight: 700; text-transform: uppercase; word-wrap: break-word">Abonné</div>
        </div>
      </div>
      <div style="width: 261px; height: 40px; left: 2px; top: 216px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">Simplon Sénégal œuvre dans le pays à travers un numérique inclusif et solidaire pour les jeunes, femmes et personnes en situation de handicap.</div>
      <img style="width: 59px; height: 59px; left: 10px; top: 147px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/5685/840a/e8cd6010a89c6cf5c7abc83eb39b7921?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lcRuO0QO7uRUiuoHknGxTJYdxdviU6TUX6KN2RzSuIWIl1hf4aMSx9jUF~TSCGVv0gbIXvkcyomRM5f0N3C2tqtWVPdC2FL33aNxtxngNAa2NNKmkUk4zwpFn2pQrdtpb2hBvZ-7qj24CtaNpJ4nRDW5j-kBhXiQkNqaup2a7MaNSrbg0s-kI03JW8iEI1n2Z2lemCUC-SXjYwxxxzejibjA-UWpzF8JWs8dBQoAP4v~jae1VcEai-dkC48-cmwz6XmyMHj0R4eUVSS6R542AuDd88KSPkqdutjpOLfhwwiKW8XtNEfcKjF96s0wW3UDIX3IQV8URt34Acb6UD3eMw__" />
    </div>
    <div style="width: 263px; height: 413px; left: 639px; top: 0px; position: absolute">
      <div style="width: 263px; height: 412px; left: 0px; top: 1px; position: absolute">
        <div style="width: 263px; height: 412px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 30px"></div>
        <div style="width: 252px; height: 56px; left: 8px; top: 227px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">Les Racines de l'espoir a pour mission de faire du social, pour des personnes défavorisées en particulier chez les enfants malades, les enfants talibés</div>
        <div style="width: 263px; height: 48px; left: 0px; top: 364px; position: absolute; border-radius: 30px">
          <div style="width: 263px; height: 48px; left: 0px; top: 0px; position: absolute; background: #3B0458; border-radius: 24px"></div>
          <div style="left: 100.09px; top: 15px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Rowdies; font-weight: 400; text-transform: uppercase; word-wrap: break-word">détails</div>
        </div>
        <img style="width: 263px; height: 170.59px; left: 0px; top: 0px; position: absolute; border-radius: 30px" src="https://s3-alpha-sig.figma.com/img/0a33/c113/233d89d55ba4ec13710cd0188ad69396?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=f-LnCKditisk1rn3s14H7rATivyTT19s1AB1pZwgfij8EO-36eIgWsvW8WFtj2j2behAPk7pesLi0I6OWAUDPxyNggasdSYoCyveIceqkdiML3rX7fL2R81j3yidIQ2sk6WJyFrd-~-fJ8eRpTLFmF6TvjUJLspSkuC-GPidXK2bHZIhZjrXxX~zCALpLP4kUZ9FB2mSO~5dgoLe7~mWdYIXAkPNyfLRuGYhZPtIg3at0mvqm7pnv0Z9DpB50upF8hLhQFracz0SupitpNcOGatbQ7S02DxKXlc44gwvPDwps0kR2Ta0pvHCTZ7AlMhC7kcfwyGXIp5AgPzNqHi3uQ__" />
      </div>
      <img style="width: 263px; height: 172px; left: 0px; top: 0px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius:30px" src="https://s3-alpha-sig.figma.com/img/b5f8/0769/e2c0a51c4aec4728b582b328d628c9be?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=iBr1ZHku~pWSmmhNzSQ9LNEZd7sslJ1SFqMCMZ3pacgNdrpa-s8v3YG2OBbz24wPkcF3zNutWs-I-JZeRrp~FFpJ2a20YKMbZVA6j8lTVWPUbuj3mpye3NYqlBoxPYSHQXfQI-sz2qq7bX8OcZGDbkV2LZYjGh5ii6SSWc0sj46I9RYcZzTfch1c4ytm3QuN2UGJpQwfs~vx-nigtN7o4KkuH3tvyegsO7F0E5wGnRLuHwXHoybxslAkY~2W1akEjmyRd18YdlIKbufpeHMHkaMRlAbr1oWz5Y8y1AgIt4ECOquVGfsmFbKqYy22o3RIM~2zvTaIMM29jEa0iKJSPw__" />
      <div style="width: 92px; height: 32px; left: 0px; top: 0px; position: absolute">
        <div style="width: 92px; height: 32px; left: 0px; top: 0px; position: absolute; background: #F7E801; border-radius: 16px"></div>
        <div style="left: 22px; top: 8px; position: absolute; color: white; font-size: 12px; font-family: Manrope; font-weight: 700; text-transform: uppercase; word-wrap: break-word">abonné</div>
      </div>
    </div>
    <div style="width: 263px; height: 412px; left: 343px; top: 1px; position: absolute">
      <div style="width: 263px; height: 412px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 30px"></div>
      <div style="width: 252px; height: 56px; left: 11px; top: 236px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">L’ASPASEN est une association <br/>sénégalaise qui met à la disposition des patients des soins palliatifs gratuits à domicile.</div>
      <div style="width: 263px; height: 48px; left: 0px; top: 364px; position: absolute">
        <div style="width: 263px; height: 48px; left: 0px; top: 0px; position: absolute; background: #3B0458; border-radius: 24px"></div>
        <div style="left: 100.09px; top: 15px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Rowdies; font-weight: 400; text-transform: uppercase; word-wrap: break-word">détails</div>
      </div>
      <img style="width: 263px; height: 170.59px; left: 0px; top: 0px; position: absolute; border-radius: 30px" src="https://via.placeholder.com/263x171" />
      <img style="width: 263px; height: 171px; left: 0px; top: 0px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius:30px" src="https://s3-alpha-sig.figma.com/img/fb77/a0df/22dd55bf7892de750014ee306342487e?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=FDb-Fsw~Gx7igvBjtg60br0xT3bFXhhm1ZsH6epVx9I1qxfIUIUoz03ysftFFzSHrNlRXaFqakbzZaXEKwG9Dusz3FyXwWpkMFqWHdEElpmK3-bKoc8fYPxVRRvyEWfD9ppbz5Huu~5HQE2oIIBCg1lKzWKZAbz9M3KFNLp4kEuUwZ96~xFjsNppdvlwrM2PWal53oyP91hCLS2lkcP3e19TIItvnYwbTSM7BBX6iLuK3OHpy5ocwH4KpRu40LMSPplhXfAvxHAHB-08lVIVdUDudTGcZV8bbiI2GMiOy6U9633rQdc0J4BTu3eAmB0IXV0mwGwfIiL5-TpEBgwUmQ__" />
      <div style="width: 92px; height: 32px; left: 0px; top: 0px; position: absolute">
        <div style="width: 92px; height: 32px; left: 0px; top: 0px; position: absolute; background: #F7E801; border-radius: 16px"></div>
        <div style="left: 10px; top: 8px; position: absolute; color: white; font-size: 12px; font-family: Manrope; font-weight: 700; text-transform: uppercase; word-wrap: break-word">abonné</div>
      </div>
      <img style="width: 58px; height: 52px; left: 17px; top: 148px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/fb77/a0df/22dd55bf7892de750014ee306342487e?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=FDb-Fsw~Gx7igvBjtg60br0xT3bFXhhm1ZsH6epVx9I1qxfIUIUoz03ysftFFzSHrNlRXaFqakbzZaXEKwG9Dusz3FyXwWpkMFqWHdEElpmK3-bKoc8fYPxVRRvyEWfD9ppbz5Huu~5HQE2oIIBCg1lKzWKZAbz9M3KFNLp4kEuUwZ96~xFjsNppdvlwrM2PWal53oyP91hCLS2lkcP3e19TIItvnYwbTSM7BBX6iLuK3OHpy5ocwH4KpRu40LMSPplhXfAvxHAHB-08lVIVdUDudTGcZV8bbiI2GMiOy6U9633rQdc0J4BTu3eAmB0IXV0mwGwfIiL5-TpEBgwUmQ__" />
    </div>
  </div>
  <div style="width: 902px; height: 413px; left: 40px; top: 541px; position: absolute">
    <div style="width: 263px; height: 412px; left: 0px; top: 1px; position: absolute">
      <div style="width: 263px; height: 412px; left: 0px; top: 0px; position: absolute">
        <div style="width: 263px; height: 412px; left: 0px; top: 0px; position: absolute; background: white;border-radius:30px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px"></div>
        <div style="width: 263px; height: 48px; left: 0px; top: 364px; position: absolute;border-radius:30px">
          <div style="width: 263px; height: 48px; left: 0px; top: 0px; position: absolute; background: #3B0458; border-radius: 24px"></div>
          <div style="left: 100.09px; top: 15px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Rowdies; font-weight: 400; text-transform: uppercase; word-wrap: break-word">détails</div>
        </div>
        <img style="width: 263px; height: 170.59px; left: 0px; top: 0px; position: absolute;border-radius:30px" src="https://via.placeholder.com/263x171" />
        <img style="width: 263px; height: 171px; left: 0px; top: 0px; position: absolute;border-radius:30px" src="https://s3-alpha-sig.figma.com/img/5685/840a/e8cd6010a89c6cf5c7abc83eb39b7921?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lcRuO0QO7uRUiuoHknGxTJYdxdviU6TUX6KN2RzSuIWIl1hf4aMSx9jUF~TSCGVv0gbIXvkcyomRM5f0N3C2tqtWVPdC2FL33aNxtxngNAa2NNKmkUk4zwpFn2pQrdtpb2hBvZ-7qj24CtaNpJ4nRDW5j-kBhXiQkNqaup2a7MaNSrbg0s-kI03JW8iEI1n2Z2lemCUC-SXjYwxxxzejibjA-UWpzF8JWs8dBQoAP4v~jae1VcEai-dkC48-cmwz6XmyMHj0R4eUVSS6R542AuDd88KSPkqdutjpOLfhwwiKW8XtNEfcKjF96s0wW3UDIX3IQV8URt34Acb6UD3eMw__" />
        <img style="width: 263px; height: 171px; left: 0px; top: 0px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius:30px" src="https://s3-alpha-sig.figma.com/img/fb77/a0df/22dd55bf7892de750014ee306342487e?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=FDb-Fsw~Gx7igvBjtg60br0xT3bFXhhm1ZsH6epVx9I1qxfIUIUoz03ysftFFzSHrNlRXaFqakbzZaXEKwG9Dusz3FyXwWpkMFqWHdEElpmK3-bKoc8fYPxVRRvyEWfD9ppbz5Huu~5HQE2oIIBCg1lKzWKZAbz9M3KFNLp4kEuUwZ96~xFjsNppdvlwrM2PWal53oyP91hCLS2lkcP3e19TIItvnYwbTSM7BBX6iLuK3OHpy5ocwH4KpRu40LMSPplhXfAvxHAHB-08lVIVdUDudTGcZV8bbiI2GMiOy6U9633rQdc0J4BTu3eAmB0IXV0mwGwfIiL5-TpEBgwUmQ__" />
        <div style="width: 92px; height: 32px; left: 0px; top: 0px; position: absolute">
          <div style="width: 92px; height: 32px; left: 0px; top: 0px; position: absolute; background: #F7E801; border-radius: 16px"></div>
          <div style="left: 22px; top: 8px; position: absolute; color: white; font-size: 12px; font-family: Manrope; font-weight: 700; text-transform: uppercase; word-wrap: break-word">Abonné</div>
        </div>
      </div>
      <div style="width: 261px; height: 40px; left: 2px; top: 216px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">Simplon Sénégal œuvre dans le pays à travers un numérique inclusif et solidaire pour les jeunes, femmes et personnes en situation de handicap.</div>
      <img style="width: 59px; height: 59px; left: 10px; top: 147px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/5685/840a/e8cd6010a89c6cf5c7abc83eb39b7921?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lcRuO0QO7uRUiuoHknGxTJYdxdviU6TUX6KN2RzSuIWIl1hf4aMSx9jUF~TSCGVv0gbIXvkcyomRM5f0N3C2tqtWVPdC2FL33aNxtxngNAa2NNKmkUk4zwpFn2pQrdtpb2hBvZ-7qj24CtaNpJ4nRDW5j-kBhXiQkNqaup2a7MaNSrbg0s-kI03JW8iEI1n2Z2lemCUC-SXjYwxxxzejibjA-UWpzF8JWs8dBQoAP4v~jae1VcEai-dkC48-cmwz6XmyMHj0R4eUVSS6R542AuDd88KSPkqdutjpOLfhwwiKW8XtNEfcKjF96s0wW3UDIX3IQV8URt34Acb6UD3eMw__" />
    </div>
    <div style="width: 263px; height: 413px; left: 639px; top: 0px; position: absolute">
      <div style="width: 263px; height: 412px; left: 0px; top: 1px; position: absolute">
        <div style="width: 263px; height: 412px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 30px"></div>
        <div style="width: 252px; height: 56px; left: 8px; top: 227px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">Les Racines de l'espoir a pour mission de faire du social, pour des personnes défavorisées en particulier chez les enfants malades, les enfants talibés</div>
        <div style="width: 263px; height: 48px; left: 0px; top: 364px; position: absolute; border-radius: 30px">
          <div style="width: 263px; height: 48px; left: 0px; top: 0px; position: absolute; background: #3B0458; border-radius: 24px"></div>
          <div style="left: 100.09px; top: 15px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Rowdies; font-weight: 400; text-transform: uppercase; word-wrap: break-word">détails</div>
        </div>
        <img style="width: 263px; height: 170.59px; left: 0px; top: 0px; position: absolute; border-radius: 30px" src="https://via.placeholder.com/263x171" />
      </div>
      <img style="width: 263px; height: 172px; left: 0px; top: 0px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius:30px" src="https://s3-alpha-sig.figma.com/img/b5f8/0769/e2c0a51c4aec4728b582b328d628c9be?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=iBr1ZHku~pWSmmhNzSQ9LNEZd7sslJ1SFqMCMZ3pacgNdrpa-s8v3YG2OBbz24wPkcF3zNutWs-I-JZeRrp~FFpJ2a20YKMbZVA6j8lTVWPUbuj3mpye3NYqlBoxPYSHQXfQI-sz2qq7bX8OcZGDbkV2LZYjGh5ii6SSWc0sj46I9RYcZzTfch1c4ytm3QuN2UGJpQwfs~vx-nigtN7o4KkuH3tvyegsO7F0E5wGnRLuHwXHoybxslAkY~2W1akEjmyRd18YdlIKbufpeHMHkaMRlAbr1oWz5Y8y1AgIt4ECOquVGfsmFbKqYy22o3RIM~2zvTaIMM29jEa0iKJSPw__" />
      <div style="width: 92px; height: 32px; left: 0px; top: 0px; position: absolute">
        <div style="width: 92px; height: 32px; left: 0px; top: 0px; position: absolute; background: #F7E801; border-radius: 16px"></div>
        <div style="left: 22px; top: 8px; position: absolute; color: white; font-size: 12px; font-family: Manrope; font-weight: 700; text-transform: uppercase; word-wrap: break-word">abonné</div>
      </div>
    </div>
    <div style="width: 263px; height: 412px; left: 343px; top: 1px; position: absolute">
      <div style="width: 263px; height: 412px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 30px"></div>
      <div style="width: 252px; height: 56px; left: 11px; top: 236px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">L’ASPASEN est une association <br/>sénégalaise qui met à la disposition des patients des soins palliatifs gratuits à domicile.</div>
      <div style="width: 263px; height: 48px; left: 0px; top: 364px; position: absolute">
        <div style="width: 263px; height: 48px; left: 0px; top: 0px; position: absolute; background: #3B0458; border-radius: 24px"></div>
        <div style="left: 100.09px; top: 15px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Rowdies; font-weight: 400; text-transform: uppercase; word-wrap: break-word">détails</div>
      </div>
      <img style="width: 263px; height: 170.59px; left: 0px; top: 0px; position: absolute; border-radius: 30px" src="https://via.placeholder.com/263x171" />
      <img style="width: 263px; height: 171px; left: 0px; top: 0px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius:30px" src="https://s3-alpha-sig.figma.com/img/0a33/c113/233d89d55ba4ec13710cd0188ad69396?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=f-LnCKditisk1rn3s14H7rATivyTT19s1AB1pZwgfij8EO-36eIgWsvW8WFtj2j2behAPk7pesLi0I6OWAUDPxyNggasdSYoCyveIceqkdiML3rX7fL2R81j3yidIQ2sk6WJyFrd-~-fJ8eRpTLFmF6TvjUJLspSkuC-GPidXK2bHZIhZjrXxX~zCALpLP4kUZ9FB2mSO~5dgoLe7~mWdYIXAkPNyfLRuGYhZPtIg3at0mvqm7pnv0Z9DpB50upF8hLhQFracz0SupitpNcOGatbQ7S02DxKXlc44gwvPDwps0kR2Ta0pvHCTZ7AlMhC7kcfwyGXIp5AgPzNqHi3uQ__" />
      <div style="width: 92px; height: 32px; left: 0px; top: 0px; position: absolute">
        <div style="width: 92px; height: 32px; left: 0px; top: 0px; position: absolute; background: #F7E801; border-radius: 16px"></div>
        <div style="left: 10px; top: 8px; position: absolute; color: white; font-size: 12px; font-family: Manrope; font-weight: 700; text-transform: uppercase; word-wrap: break-word">abonné</div>
      </div>
      <img style="width: 58px; height: 52px; left: 17px; top: 148px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/7f70/836c/61f36133f34778cc0ca5f7b3bd09163c?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AqROxhdMXUlmyWooCdG9-Tm2yIp5m~B-lAwpYlTkuJ1J-NHIBEvSJhaxCLYT-Ej6N5JG5V62LUhU7nTcQnFNysMHaOfGRairPItDE9sTigreUMZdAWZbo3lsCCpcek8p2wc1-6kirLQFDYOTscUp3MpeEiBK4wU-rrytXaFY2NNBbw8i8Akdjljmc-4rzH6vIAyx-qMm6vwvnrGiJZc-wsNllfz066MJt66EhZOir1dmlda3mvP4lkbbeGWxJrrM-dfiX81nIkVB7gJS900U5QGmJ9VdBii017vZvsYE3qeIOv5INVLrNf3hL3FvdIzvqe3rcfh~gfqJtweoFERzEw__" />
    </div>
  </div>
</div> -->
<div
  style="
    width: 1370px;
    height: 1372px;
    position: relative;
    margin-left: 7%;
    margin-top: 5%;
  "
>
  <div
    style="width: 421px; height: 620px; left: 1px; top: 0px; position: absolute"
  >
    <div
      style="
        width: 419px;
        height: 620px;
        left: 2px;
        top: 0px;
        position: absolute;
        background: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
      "
    ></div>
    <img
      style="
        width: 419px;
        height: 280px;
        left: 2px;
        top: 0px;
        position: absolute;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
      "
      src="/assets/simplon.png"
    />
    <div
      style="width: 92px; height: 32px; left: 0px; top: 0px; position: absolute"
    >
      <div
        style="
          width: 92px;
          height: 32px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #f7e801;
          border-radius: 16px;
        "
      ></div>
      <div
        style="
          left: 22px;
          top: 8px;
          position: absolute;
          color: white;
          font-size: 12px;
          font-family: Manrope;
          font-weight: 700;
          text-transform: uppercase;
          word-wrap: break-word;
        "
      >
        Abonné
      </div>
    </div>
    <div
      style="
        left: 17px;
        top: 373px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 20px;
        font-family: Inter;
        font-weight: 700;
        word-wrap: break-word;
      "
    >
      Simplon Sénégal œuvre dans le pays <br />à travers un numérique inclusif
      et soli<br />daire pour les jeunes, femmes et person<br />nes en situation
      de handicap.
    </div>
    <img
      style="
        width: 59px;
        height: 59px;
        left: 19px;
        top: 261px;
        position: absolute;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 9999px;
      "
      src="/assets/logo simplon.png"
    />
    <div
      style="
        width: 419px;
        height: 66px;
        left: 0px;
        top: 554px;
        position: absolute;
      "
    >
      <div
        style="
          width: 419px;
          height: 66px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #3b0458;
          border-radius: 30px;
        "
      ></div>
      <div
        style="
          width: 125px;
          height: 33px;
          left: 147px;
          top: 13px;
          position: absolute;
          color: white;
          font-size: 25px;
          font-family: Inter;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Détails
      </div>
    </div>
  </div>
  <div
    style="
      width: 420px;
      height: 620px;
      left: 476px;
      top: 5px;
      position: absolute;
    "
  >
    <div
      style="
        width: 419px;
        height: 620px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
      "
    ></div>
    <img
      style="
        width: 419px;
        height: 280px;
        left: 1px;
        top: 0px;
        position: absolute;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
      "
      src="/assets/ASPASEN.png"
    />
    <div
      style="width: 92px; height: 32px; left: 0px; top: 0px; position: absolute"
    >
      <div
        style="
          width: 92px;
          height: 32px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #f7e801;
          border-radius: 16px;
        "
      ></div>
      <div
        style="
          left: 22px;
          top: 8px;
          position: absolute;
          color: white;
          font-size: 12px;
          font-family: Manrope;
          font-weight: 700;
          text-transform: uppercase;
          word-wrap: break-word;
        "
      >
        Abonné
      </div>
    </div>
    <div
      style="
        left: 15px;
        top: 368px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 20px;
        font-family: Inter;
        font-weight: 700;
        word-wrap: break-word;
      "
    >
      L’ASPASEN est une association <br />sénégalaise qui met à la disposition
      <br />des patients des soins palliatifs gratuits<br />
      à domicile.
    </div>
    <img
      style="
        width: 59px;
        height: 59px;
        left: 20px;
        top: 256px;
        position: absolute;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 9999px;
      "
      src="/assets/ASPASEN (2).png"
    />
    <div
      style="
        width: 419px;
        height: 66px;
        left: 0px;
        top: 554px;
        position: absolute;
      "
    >
      <div
        style="
          width: 419px;
          height: 66px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #3b0458;
          border-radius: 30px;
        "
      ></div>
      <div
        style="
          width: 134px;
          height: 33px;
          left: 143px;
          top: 17px;
          position: absolute;
          color: white;
          font-size: 25px;
          font-family: Inter;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Détails
      </div>
    </div>
  </div>
  <div
    style="
      width: 421px;
      height: 630px;
      left: 949px;
      top: 0px;
      position: absolute;
    "
  >
    <div
      style="
        width: 419px;
        height: 620px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
      "
    ></div>
    <div
      style="
        width: 419px;
        height: 66px;
        left: 2px;
        top: 564px;
        position: absolute;
      "
    >
      <div
        style="
          width: 419px;
          height: 66px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #3b0458;
          border-radius: 30px;
        "
      ></div>
      <div
        style="
          width: 124px;
          height: 33px;
          left: 148px;
          top: 23px;
          position: absolute;
          color: white;
          font-size: 25px;
          font-family: Inter;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Détails
      </div>
    </div>
    <img
      style="
        width: 419px;
        height: 275px;
        left: 1px;
        top: 0px;
        position: absolute;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
      "
      src="/assets/image espoir.png"
    />
    <div
      style="width: 92px; height: 32px; left: 0px; top: 0px; position: absolute"
    >
      <div
        style="
          width: 92px;
          height: 32px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #f7e801;
          border-radius: 16px;
        "
      ></div>
      <div
        style="
          left: 22px;
          top: 8px;
          position: absolute;
          color: white;
          font-size: 12px;
          font-family: Manrope;
          font-weight: 700;
          text-transform: uppercase;
          word-wrap: break-word;
        "
      >
        Abonné
      </div>
    </div>
    <div
      style="
        left: 23px;
        top: 368px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 20px;
        font-family: Inter;
        font-weight: 700;
        word-wrap: break-word;
      "
    >
      Les Racines de l'espoir a pour mission <br />de faire du social, pour des
      personnes <br />défavorisées en particulier chez les en<br />fants
      malades, les enfants talibés
    </div>
    <img
      style="
        width: 59px;
        height: 59px;
        left: 13px;
        top: 256px;
        position: absolute;
        border-radius: 9999px;
      "
      src="/assets/logo espoir.png"
    />
  </div>
  <div
    style="
      width: 1369px;
      height: 630px;
      left: 0px;
      top: 742px;
      position: absolute;
    "
  >
    <div
      style="
        width: 421px;
        height: 620px;
        left: 475px;
        top: 0px;
        position: absolute;
      "
    >
      <div
        style="
          width: 419px;
          height: 620px;
          left: 2px;
          top: 0px;
          position: absolute;
          background: white;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 30px;
        "
      ></div>
      <img
        style="
          width: 419px;
          height: 280px;
          left: 2px;
          top: 0px;
          position: absolute;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 30px;
        "
        src="/assets/simplon.png"
      />
      <div
        style="
          width: 92px;
          height: 32px;
          left: 0px;
          top: 0px;
          position: absolute;
        "
      >
        <div
          style="
            width: 92px;
            height: 32px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #f7e801;
            border-radius: 16px;
          "
        ></div>
        <div
          style="
            left: 22px;
            top: 8px;
            position: absolute;
            color: white;
            font-size: 12px;
            font-family: Manrope;
            font-weight: 700;
            text-transform: uppercase;
            word-wrap: break-word;
          "
        >
          Abonné
        </div>
      </div>
      <div
        style="
          left: 17px;
          top: 373px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 20px;
          font-family: Inter;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Simplon Sénégal œuvre dans le pays <br />à travers un numérique inclusif
        et soli<br />daire pour les jeunes, femmes et person<br />nes en
        situation de handicap.
      </div>
      <img
        style="
          width: 59px;
          height: 59px;
          left: 19px;
          top: 261px;
          position: absolute;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 9999px;
        "
        src="/assets/logo simplon.png"
      />
      <div
        style="
          width: 419px;
          height: 66px;
          left: 0px;
          top: 554px;
          position: absolute;
        "
      >
        <div
          style="
            width: 419px;
            height: 66px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #3b0458;
            border-radius: 30px;
          "
        ></div>
        <div
          style="
            width: 114px;
            height: 33px;
            left: 153px;
            top: 17px;
            position: absolute;
            color: white;
            font-size: 25px;
            font-family: Inter;
            font-weight: 700;
            word-wrap: break-word;
          "
        >
          Détails
        </div>
      </div>
    </div>
    <div
      style="
        width: 420px;
        height: 620px;
        left: 949px;
        top: 5px;
        position: absolute;
      "
    >
      <div
        style="
          width: 419px;
          height: 620px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: white;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 30px;
        "
      ></div>
      <img
        style="
          width: 419px;
          height: 280px;
          left: 1px;
          top: 0px;
          position: absolute;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 30px;
        "
        src="/assets/ASPASEN.png"
      />
      <div
        style="
          width: 92px;
          height: 32px;
          left: 0px;
          top: 0px;
          position: absolute;
        "
      >
        <div
          style="
            width: 92px;
            height: 32px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #f7e801;
            border-radius: 16px;
          "
        ></div>
        <div
          style="
            left: 22px;
            top: 8px;
            position: absolute;
            color: white;
            font-size: 12px;
            font-family: Manrope;
            font-weight: 700;
            text-transform: uppercase;
            word-wrap: break-word;
          "
        >
          Abonné
        </div>
      </div>
      <div
        style="
          left: 15px;
          top: 368px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 20px;
          font-family: Inter;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        L’ASPASEN est une association <br />sénégalaise qui met à la disposition
        <br />des patients des soins palliatifs gratuits<br />
        à domicile.
      </div>
      <img
        style="
          width: 59px;
          height: 59px;
          left: 20px;
          top: 256px;
          position: absolute;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 9999px;
        "
        src="/assets/ASPASEN (2).png"
      />
      <div
        style="
          width: 419px;
          height: 66px;
          left: 0px;
          top: 554px;
          position: absolute;
        "
      >
        <div
          style="
            width: 419px;
            height: 66px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #3b0458;
            border-radius: 30px;
          "
        ></div>
        <div
          style="
            width: 133px;
            height: 33px;
            left: 143px;
            top: 17px;
            position: absolute;
            color: white;
            font-size: 25px;
            font-family: Inter;
            font-weight: 700;
            word-wrap: break-word;
          "
        >
          Détails
        </div>
      </div>
    </div>
    <div
      style="
        width: 421px;
        height: 630px;
        left: 0px;
        top: 0px;
        position: absolute;
      "
    >
      <div
        style="
          width: 419px;
          height: 620px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: white;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 30px;
        "
      ></div>
      <div
        style="
          width: 419px;
          height: 66px;
          left: 2px;
          top: 564px;
          position: absolute;
        "
      >
        <div
          style="
            width: 419px;
            height: 66px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #3b0458;
            border-radius: 30px;
          "
        ></div>
        <div
          style="
            width: 131px;
            height: 33px;
            left: 144px;
            top: 17px;
            position: absolute;
            color: white;
            font-size: 25px;
            font-family: Inter;
            font-weight: 700;
            word-wrap: break-word;
          "
        >
          Détails
        </div>
      </div>
      <img
        style="
          width: 419px;
          height: 275px;
          left: 1px;
          top: 0px;
          position: absolute;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 30px;
        "
        src="/assets/image espoir.png"
      />
      <div
        style="
          left: 23px;
          top: 368px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 20px;
          font-family: Inter;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Les Racines de l'espoir a pour mission <br />de faire du social, pour
        des personnes <br />défavorisées en particulier chez les en<br />fants
        malades, les enfants talibés
      </div>
      <img
        style="
          width: 59px;
          height: 59px;
          left: 13px;
          top: 256px;
          position: absolute;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 9999px;
        "
        src="/assets/logo espoir.png"
      />
      <div
        style="
          width: 92px;
          height: 32px;
          left: 0px;
          top: 0px;
          position: absolute;
        "
      >
        <div
          style="
            width: 92px;
            height: 32px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #f7e801;
            border-radius: 16px;
          "
        ></div>
        <div
          style="
            left: 22px;
            top: 8px;
            position: absolute;
            color: white;
            font-size: 12px;
            font-family: Manrope;
            font-weight: 700;
            text-transform: uppercase;
            word-wrap: break-word;
          "
        >
          Abonné
        </div>
      </div>
    </div>
  </div>
</div>
