<app-dashboard></app-dashboard>

<div class="container-fluid" style="margin-top: 7%">
  <h1 style="text-align: center; font-weight: bold">Dashboard du Donateur</h1>
  <br />
  <!-- Section des cartes -->
  <div class="row" style="margin-left: 3%">
    <div class="col-md-4 mb-4">
      <!-- Graphique 1 -->
      <div class="card donor-card">
        <div class="card-body">
          <h5 class="card-title">Fondations Disponibles</h5>
          <p class="card-text">
            Nombre total de fondations disponibles sur la plateforme.
          </p>
          <p class="card-value">50</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <!-- Carte 2 -->
      <div class="card donor-card">
        <div class="card-body">
          <h5 class="card-title">Fondations Abonnées</h5>
          <p class="card-text">
            Nombre de fondations auxquelles vous êtes abonné.
          </p>
          <p class="card-value">5</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <!-- Carte 3 -->
      <div class="card donor-card">
        <div class="card-body">
          <h5 class="card-title">Collectes Participées</h5>
          <p class="card-text">
            Nombre de collectes auxquelles vous avez participé.
          </p>
          <p class="card-value">10</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Section des graphiques -->
  <div class="row mt-4" style="margin-left: 3%">
    <div class="col-md-6 mb-4">
      <!-- Carte 1 -->
      <div class="card donor-card">
        <div class="card-body">
          <h5 class="card-title">Historique des Dons</h5>
          <canvas id="donationHistoryChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <!-- Graphique 2 -->
      <div class="card donor-card">
        <div class="card-body">
          <h5 class="card-title">Participation aux Collectes par Fondation</h5>
          <canvas id="participationChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
