*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

nav ul,
nav ul li {
  outline: 0;
}

nav ul li a {
  text-decoration: none;
}


/* MAIN MENU */

main {
  display: grid;
  grid-template-columns: 13% 87%;
  width: 100%;
  height: 100vh;
  /* margin: 40px; */
  background: rgb(254, 254, 254);
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset,
    0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
  /* border-radius: 15px; */
  z-index: 10;
}

.main-menu {
  overflow: hidden;
  background:#3B0458 ;
  /* padding-top: 10px; */
  /* border-radius: 15px 0 0 15px; */
  font-family: "Roboto", sans-serif;
}

.main-menu h1 {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 0 30px;
  color: #fff;
  font-family: "Nunito", sans-serif;
}

.logo {
  display: none;
}

.nav-item {
  position: relative;
  display: block;
}

.nav-item a {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1rem;
  padding: 15px 0;
  margin-left: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.nav-item b:nth-child(1) {
  position: absolute;
  top: -15px;
  height: 15px;
  width: 100%;
  background: #fff;
  display: none;
}

.nav-item b:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: #3B0458;
}

.nav-item b:nth-child(2) {
  position: absolute;
  bottom: -15px;
  height: 15px;
  width: 100%;
  background: #fff;
  display: none;
}

.nav-item b:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  background: #3B0458;
}

.nav-item.active b:nth-child(1),
.nav-item.active b:nth-child(2) {
  display: block;
}

.nav-item.active a {
  text-decoration: none;
  color: #000;
  background: rgb(254, 254, 254);
}

.nav-icon {
  width: 60px;
  height: 20px;
  font-size: 20px;
  text-align: center;
}

.nav-text {
  display: block;
  width: 120px;
  height: 20px;
}
.frame-8,
.frame-8 * {
  box-sizing: border-box;
}
.frame-8 {
  padding: 24px 12px 24px 12px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.searchbox {
  border-radius: 8px;
  border-style: solid;
  border-color: #eaeaea;
  border-width: 1px;
  padding: 4px 10px 4px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 215px;
  position: relative;
}
.search {
  color: #000000;
  text-align: left;
  font-family: "Inter-Thin", sans-serif;
  font-size: 16px;
  font-weight: 100;
  position: relative;
}
.search2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-10 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group-1 {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: static;
}
.icons-drawer {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0px;
  top: 2px;
  overflow: visible;
}
.ellipse-7 {
  background: #ed3232;
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 16px;
  top: 6px;
}
.icons-drawer2 {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: visible;
}



.image-profile,
.image-profile * {
  box-sizing: border-box;
}
.image-profile {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: static;
}
.ellipse-1 {
  background: #f7e801;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  /* left: 0px; */
  /* top: 0px; */
}
.face {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
