
.quotes,
.quotes * {
  box-sizing: border-box;
}
.quotes {
  background: #3b0458;
  padding: 55px 53px 55px 53px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  height: 170px;
  position: relative;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 60px;
  position: relative;
}
.div {
  flex-shrink: 0;
  width: 64.97px;
  height: 48.49px;
  position: relative;
  overflow: visible;
}
.le-sourire-la-plus-belle-chose-qui-eguaille-une-journ-e {
  color: #ffffff;
  text-align: center;
  font-family: "ShipporiMincho-ExtraBold", sans-serif;
  font-size: 25px;
  /* line-height: 120%; */
  font-weight: 800;
  position: relative;
}
.sub-content,
.sub-content * {
  box-sizing: border-box;
}
.sub-content {
  background: #f7e801;
  padding: 39px 52px 39px 52px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 388px;
  position: relative;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 284px;
  position: relative;
}
._17-m {
  color: #000000;
  text-align: left;
  font-family: "ShipporiMincho-ExtraBold", sans-serif;
  font-size: 73px;
  line-height: 120%;
  font-weight: 800;
  position: relative;
}
.nous-comptons-plus-d-1-m-rien-est-sous-estimer {
  color: #000000;
  text-align: left;
  font-family: "WorkSans-Medium", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 500;
  position: relative;
  width: 244px;
}
.about-us,
.about-us * {
  box-sizing: border-box;
}
.about-us {
  background: #f7e801;
  padding: 80px 150px 80px 150px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  width: 1440px;
  position: relative;
  overflow: hidden;
}
.ellipse-93 {
  border-radius: 50%;
  border-style: solid;
  border-color: #f7e801;
  border-width: 40px;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  position: absolute;
  left: -61px;
  top: -128px;
}
.container {
  display: flex;
  flex-direction: row;
  /* gap: -100px; */
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about-us2 {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.image {
  display: flex;
  flex-direction: row;
  gap: 29px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.rectangle-4 {
  border-radius: 16px;
  flex-shrink: 0;
  width: 208px;
  height: 329px;
  position: relative;
  object-fit: cover;
}
.rectangle-3 {
  border-radius: 16px;
  flex-shrink: 0;
  width: 268px;
  height: 317px;
  position: relative;
  object-fit: cover;
}
.right {
  display: flex;
  /* flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start; */
  flex-shrink: 0;
  position: relative;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

* .qui-sommes-nous {
  color: #3b0458;
 /* border: 2px solid orange; */
  font-family: "Inter-Black", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
  margin-top: -3%;
  width: 545px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dolel-fondation-est-une-plateforme-but-non-lucratif {
  color: #3b0458;
  text-align: left;
  font-family: "Inter-Black", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
  position: relative;
  width: 545px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-orem-ipsum-has-been-the-industry-s-standard-dummy-text-ever-since-the-1500-s-when-an-unknown-lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-orem-ipsum-has-been-the-industry-s-standard-dummy-text-ever-since-the-1500-s-when-an-unknown-ipsum-has-been-the-industry-s-standard-dummy-text-ever-since-the-1500-s-when-an-unknown {
  color: #000000;
  text-align:justify;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  position: relative;
  width: 595px;
  display: flex;
  align-items: center;
  justify-content: undefined;
}
.contain-svae-children {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 0px;
  height: 74px;
  position: relative;
}
.button {
  background: #3b0458;
  border-radius: 12px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
