<app-header></app-header>
<img class="image-65 mx-auto" style="width:100%;" src="/assets/Carouss1.png" />
<div class="co mx-auto" style="width: 95%;height: 95%;">
  <div class="row">
    <div class="frame-427320790 mx-auto">
      <div class="group-513201">
        <div class="group-513080">
          <div class="rectangle-371 card"></div>
          <img class="rectangle-368" src="/assets/simplon.png" />
          <div
            class="simplon-s-n-gal-uvre-dans-le-pays-travers-un-num-rique-inclusif-et-soli-daire-pour-les-jeunes-femmes-et-person-nes-en-situation-de-handicap"
          >
            Simplon Sénégal œuvre dans le pays
            <br />
            à travers un numérique inclusif et soli
            <br />
            daire pour les jeunes, femmes et person
            <br />
            nes en situation de handicap.
          </div>
          <img class="ellipse-11" src="/assets/logo simplon.png" />
          <div class="group-513077">
            <div class="rectangle-370"></div>
            <button class="btn d-tails"style="">Détails</button>
          </div>
       
        <div class="group-513081 ">
          <div class="rectangle-3722 card"></div>
          <img class="rectangle-3682" src="/assets/ASPASEN.png" />
          <div
            class="l-aspasen-est-une-association-s-n-galaise-qui-met-la-disposition-des-patients-des-soins-palliatifs-gratuits-domicile"
          >
            L’ASPASEN est une association
            <br />
            sénégalaise qui met à la disposition
            <br />
            des patients des soins palliatifs gratuits
            <br />
            à domicile.
          </div>
          <img class="ellipse-112" src="/assets/ASPASEN (2).png" />
          <div class="group-513078">
            <div class="rectangle-3702"></div>
            <button class="btn d-tails2 border-0">Détails</button>
          </div>
        </div>
        <div class="group-513082">
          <div class="rectangle-373"></div>
          <div class="group-513079">
            <div class="rectangle-3703"></div>
            <button class="btn d-tails3"> Détails</button>
          </div>
          <img class="rectangle-3683" src="/assets/image espoir.png" />
          <div
            class="les-racines-de-l-espoir-a-pour-mission-de-faire-du-social-pour-des-personnes-d-favoris-es-en-particulier-chez-les-en-fants-malades-les-enfants-talib-s"
          >
            Les Racines de l&#039;espoir a pour mission
            <br />
            de faire du social, pour des personnes
            <br />
            défavorisées en particulier chez les en
            <br />
            fants malades, les enfants talibés
          </div>
          <img class="ellipse-113" src="/assets/logo espoir.png" />
        </div>
        
      </div>
    
    </div>
  </div>
  </div>
  <div class="row" style="margin-top: -10%;" ><div class="frame-427320790 mx-auto">
    <div class="group-513201"style="height:90%">
      <div class="group-513080">
        <div class="rectangle-371 card"></div>
        <img class="rectangle-368" src="/assets/simplon.png" />
        <div
          class="simplon-s-n-gal-uvre-dans-le-pays-travers-un-num-rique-inclusif-et-soli-daire-pour-les-jeunes-femmes-et-person-nes-en-situation-de-handicap"
        >
          Simplon Sénégal œuvre dans le pays
          <br />
          à travers un numérique inclusif et soli
          <br />
          daire pour les jeunes, femmes et person
          <br />
          nes en situation de handicap.
        </div>
        <img class="ellipse-11" src="/assets/logo simplon.png" />
        <div class="group-513077">
          <div class="rectangle-370"></div>
          <button class="btn d-tails" [routerLink]="['/details']">Détails</button>
        </div>
      </div>
      <div class="group-513081 ">
        <div class="rectangle-3722 card"></div>
        <img class="rectangle-3682" src="/assets/ASPASEN.png" />
        <div
          class="l-aspasen-est-une-association-s-n-galaise-qui-met-la-disposition-des-patients-des-soins-palliatifs-gratuits-domicile"
        >
          L’ASPASEN est une association
          <br />
          sénégalaise qui met à la disposition
          <br />
          des patients des soins palliatifs gratuits
          <br />
          à domicile.
        </div>
        <img class="ellipse-112" src="/assets/ASPASEN (2).png" />
        <div class="group-513078">
          <div class="rectangle-3702"></div>
          <button class="btn d-tails2 border-0" [routerLink]="['/details']">Détails</button>
        </div>
      </div>
      <div class="group-513082"style="height:5%">
        <div class="rectangle-373"></div>
        <div class="group-513079">
          <div class="rectangle-3703"></div>
          <button class="btn d-tails3" [routerLink]="['/details']"> Détails</button>
        </div>
        <img class="rectangle-3683" src="/assets/image espoir.png" />
        <div
          class="les-racines-de-l-espoir-a-pour-mission-de-faire-du-social-pour-des-personnes-d-favoris-es-en-particulier-chez-les-en-fants-malades-les-enfants-talib-s"
        >
          Les Racines de l&#039;espoir a pour mission
          <br />
          de faire du social, pour des personnes
          <br />
          défavorisées en particulier chez les en
          <br />
          fants malades, les enfants talibés
        </div>
        <img class="ellipse-113" src="/assets/logo espoir.png" />
      </div>
      
    </div>
  </div>
</div>
</div>
