<app-dashboard></app-dashboard>
<div class="col-9 z-2" style="margin-left:15%; width: 150vh;margin-top: 10%;">
  <a href="/profil"><button class="btn btn-outline-warning" ><i class="fa-solid fa-arrow-left"></i></button>
  </a>
  <main class="mx-auto" style="margin-top: -4%;">
    <h3 class=" mb-2"style="margin-left:33%;" >Informations du profil</h3>
    <div class="first"></div>
    <div class="second"></div>
    <div class="row g-4">
      <div class="col col-md-6 left-profil">
        <img class="container-fluid" style="width:60%;margin-left:30%;" src="https://s3-alpha-sig.figma.com/img/a10c/1264/3b032c7e9e564f6f9fca75e9ba6f2b21?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SEveesTKqhHizD-ZF-0JKtN-RTgYROJapJGBaJgBKvmbpIGVfjyW9qHxC-lStI7wSy4Da3aDiuWjr-qrwkUzDnFs-1Bx4pStBqfe79kDmFgVhWSHTO~cc6yGoViu-O-LWtyEKZdvfcmXacf1qOWkoRLXwsBsg6YLvJrfRuYezzEKexvpiMjg9AmLSvPpHI0NTJqEKQJVONvGRVvf1A2OY8P6DAHLetYuRe05b3Knfe9dmcBlaX4JUrJrC0y3BE4-GaDWi48ouB7ULlWYYa85iclt1tGPC~S5chd4aEHHYKmXXB0V2rsD9BtL19ELJ7e~~jMjeuWArOAGwpFPlZ9vAg__" alt="">
      </div>
      <div class="col-md-6 right-profil">
        <div class="mb-3 d-flex justify-content-between">
          <label for="exampleFormControlInput1" class="form-label">Nom</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="DIALLO">
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <label for="exampleFormControlInput1" class="form-label">Prénom</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Donateur">
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <label for="exampleFormControlInput1" class="form-label">Adresse email</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="donat@gmail.com">
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <label for="exampleFormControlInput1" class="form-label">Téléphone</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="338782026">
        </div>
      </div>
    </div>
    <h3 class=" mb-5"style="margin-left:33%;">Changer de mot de passe</h3>
    <div class="first"></div>
    <div class="second"></div>
    <div class="container pwd">
      <form action="">
        <div class="mb-3 d-flex flex-wrap justify-content-between">
          <label for="exampleFormControlInput1" class="form-label">Actuel mot de passe :</label>
          <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="mb-3 d-flex flex-wrap justify-content-between">
          <label for="exampleFormControlInput1" class="form-label">Nouveau mot de passe :</label>
          <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="mb-3 d-flex flex-wrap justify-content-between">
          <label for="exampleFormControlInput1" class="form-label">Confirmer mot de passe :</label>
          <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
      </form>
    </div>
    <button class="btnSave p-2 mt-5">Enregistrer</button>
  </main>
</div>