<app-dash-ad></app-dash-ad>

<div class="container-fluid">
  <h1 style="margin-left: 15%;text-align: center;font-weight: bold;">Dashboard Administrateur</h1>
  <div class="row mt-4" style="margin-left: 15%">
    <div class="col-md-3 mb-4">
      <div class="card donation-card">
        <div class="card-body">
          <h5 class="card-title">Utilisateurs actifs</h5>
          <p class="card-text">
            Nombre d'utilisateurs actifs sur la plateforme.
          </p>
          <p class="card-value">3000</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="card donation-card">
        <div class="card-body">
          <h5 class="card-title">Total des dons</h5>
          <p class="card-text">
            Montant total des dons collectés sur la plateforme.
          </p>
          <p class="card-value">3000000000 FCFA</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="card donation-card">
        <div class="card-body">
          <h5 class="card-title">Nombre de collectes</h5>
          <p class="card-text">
            Nombre total de campagnes de collecte de fonds lancées.
          </p>
          <p class="card-value">15</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <canvas id="donationChart"></canvas>
    </div>
    <div class="col-md-6">
      <canvas id="campaignChart"></canvas>
    </div>
  </div>
</div>
