<app-dashf></app-dashf>
<div class="container-fluid" style="margin-top: 5%;">
  <h1 style="margin-left: 15%;text-align: center;font-weight: bold;">Dashboard de la Fondation</h1>
  <div class="row mt-4" style="margin-left: 15%">
    <div class="col-md-3 mb-4">
      <div class="card donation-card">
        <div class="card-body">
          <h5 class="card-title">Abonnés</h5>
          <p class="card-text">Nombre d'abonnés à la fondation.</p>
          <p class="card-value">3000</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="card donation-card">
        <div class="card-body">
          <h5 class="card-title">Collectes en cours</h5>
          <p class="card-text">Nombre de collectes actuellement ouvertes.</p>
          <p class="card-value">8</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="card donation-card">
        <div class="card-body">
          <h5 class="card-title">Collectes clôturées</h5>
          <p class="card-text">Nombre de collectes clôturées jusqu'à présent.</p>
          <p class="card-value">12</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <canvas id="subscriptionChart"></canvas>
    </div>
    <div class="col-md-6">
      <canvas id="campaignChart"></canvas>
    </div>
  </div>
</div>
