<app-dashf></app-dashf>
<div class="row"style="margin-top:10%;z-index: 1;">
  <div class="col-3 " style="margin-left: 20%;">
    <div class="card lk" style="width: 18rem;">
      <div class="card-body text-center">
        <i class="fa-solid fa-people-pulling fa-flip" style="font-size: 55px;"></i>
        <p class="card-text fw-bold"style="font-size:30px;">Abonnées</p>
        <p class="card-text fw-bold" style="font-size:30px;">50.120K</p>
      </div>
    </div>
  </div>
  <div class="col-3 " style="margin-left: 0%;">
    <div class="card lk" style="width: 18rem;">
      <div class="card-body text-center">
        <i class="fa-solid fa-people-pulling fa-flip" style="font-size: 55px;"></i>
        <p class="card-text fw-bold"style="font-size:30px;">Collectes</p>
        <p class="card-text fw-bold" style="font-size:30px;">2500120 M</p>
      </div>
    </div>
  </div>
  <div class="col-3 " style="margin-left: 0%;">
    <div class="card lk" style="width: 18rem;">
      <div class="card-body text-center">
        <i class="fa-solid fa-people-pulling fa-flip" style="font-size: 55px;"></i>
        <p class="card-text fw-bold"style="font-size:30px;">Dons</p>
        <p class="card-text fw-bold" style="font-size:30px;">10320K</p>
      </div>
    </div>
  </div>
</div>
<div style="width: 1071px; height: 56px; position: relative;top: 15px;">
  <div style="left: 20vh; top: 15px; position: absolute; text-align: center; color: #3B0458; font-size: 40px; font-family: Playfair Display; font-weight: 600; line-height: 48px; word-wrap: break-word">Liste des abonnés</div>
  <div style="width: 120px; height: 32px; padding: 4px; left: 982px; top: 24px; position: absolute; border-radius: 16px; border: 5px #3B0458 solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="width: 120px; align-self: stretch; padding-left: 12px; padding-right: 8px; justify-content: center; align-items: center; display: flex ;top: 15px;">
      <button class="btn" style="  color: #3B0458; font-size: 14px; font-family: Inter; font-weight: 900; "[routerLink]="['/abonne']">Voir plus</button>

    </div>
  </div>
</div>
<div class="card "style="margin-top:3%;border:2px solid red;margin-left:8%;border:1px solid #F7E801;width:90%">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="background-color: #F7E801;font-weight:bold;">Photo</th>
          <th scope="col" style="background-color: #F7E801;font-weight:bold;">Nom complet</th>
          <th scope="col" style="background-color: #F7E801;font-weight:bold;">pseudo</th>
          <th scope="col" style="background-color: #F7E801;font-weight:bold;">Description</th>
          <th scope="col" style="background-color: #F7E801;font-weight:bold;">Statut</th>
          <th scope="col" style="background-color: #F7E801;font-weight:bold;">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><img style="width: 49.98px; height: 50px; border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/90b4/c6f8/b131f95df270ee7257d52c468c0b71c7?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CDZqz0YXU1bDhI1R1U0dN6oOSdARBObrp1oOXtUPvI7JefjFii4ONgmf3lSoH5opzmjLOP2ZMZDQW-5Q5ymvYSBnp0IRnfo7-o6dOuTs0eGCi11ZuVtHCF1~gqi9fnGjWyNp9XYJGxnHl~gRKkiGki~uSmBPLFRM~GbRhR2jdLC~8Gta-t3w1zRGm07muBIYSNjxH64aYA44d91VjM7nbiwennyEieOx9mPt~9FNDoYuMM5l~JzW0ssOGsyu6EFAD40zB0eCAvid1J0j7koy5KyOF-DazO4Vb7Wo50VBocfwRTOlBFLydyHZRNAn7FOIc06bbwg5LbDDeEkm7Qyjsg__" /></th>
          <td>Amadou</td>
          <td>AM’S</td>
          <td>lorem</td>
          <td>
            Abonné
          </td>
          <td>2 mois</td>
        </tr>
        <tr>
          <th scope="row"><img style="width: 49.98px; height: 50px; border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/90b4/c6f8/b131f95df270ee7257d52c468c0b71c7?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CDZqz0YXU1bDhI1R1U0dN6oOSdARBObrp1oOXtUPvI7JefjFii4ONgmf3lSoH5opzmjLOP2ZMZDQW-5Q5ymvYSBnp0IRnfo7-o6dOuTs0eGCi11ZuVtHCF1~gqi9fnGjWyNp9XYJGxnHl~gRKkiGki~uSmBPLFRM~GbRhR2jdLC~8Gta-t3w1zRGm07muBIYSNjxH64aYA44d91VjM7nbiwennyEieOx9mPt~9FNDoYuMM5l~JzW0ssOGsyu6EFAD40zB0eCAvid1J0j7koy5KyOF-DazO4Vb7Wo50VBocfwRTOlBFLydyHZRNAn7FOIc06bbwg5LbDDeEkm7Qyjsg__" /></th>
          <td>Abdoulaye</td>
          <td>Laye</td>
          <td>lorem</td>
          <td>
           Abonné
          </td>
          <td>2 mois</td>
        </tr>
        <tr>
          <th scope="row"><img style="width: 49.98px; height: 50px; border-radius: 9999px" src="https://s3-alpha-sig.figma.com/img/90b4/c6f8/b131f95df270ee7257d52c468c0b71c7?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CDZqz0YXU1bDhI1R1U0dN6oOSdARBObrp1oOXtUPvI7JefjFii4ONgmf3lSoH5opzmjLOP2ZMZDQW-5Q5ymvYSBnp0IRnfo7-o6dOuTs0eGCi11ZuVtHCF1~gqi9fnGjWyNp9XYJGxnHl~gRKkiGki~uSmBPLFRM~GbRhR2jdLC~8Gta-t3w1zRGm07muBIYSNjxH64aYA44d91VjM7nbiwennyEieOx9mPt~9FNDoYuMM5l~JzW0ssOGsyu6EFAD40zB0eCAvid1J0j7koy5KyOF-DazO4Vb7Wo50VBocfwRTOlBFLydyHZRNAn7FOIc06bbwg5LbDDeEkm7Qyjsg__" /></th>
          <td >Bintou</td>
          <td>Bint</td>
          <td>lorem</td>
          <td>
            Abonné
          </td>
            <td >2 mois</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
